# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
*.env

# Logs and system files
*.log
.DS_Store
Thumbs.db

# Data and models
# data/
# models/

# VSCode or other IDE files
.vscode/
.idea/
